#calculadora{
    width:270px;
    background-color: rgb(98, 5, 219);
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#botoes{
    grid:30px;
}
#tela{
    border:0px solid #fff;
    width:233px;
    height:50px;
    padding:10px;
    font-size:28px;
    overflow: auto;
    background-color:rgb(81, 18, 97);
    color:white;

}

button{
    width:60px;
    height:60px;
    margin-top:5px;
    background-color:skyblue;
    color:white;
    border:none;
    font-size: 20px;

}

button:hover{
    background-color:rgb(231, 0, 193);
}